<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="coursesConnectionString" connectionString="Data Source=.;Initial Catalog=courses;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="coursesConnectionString2" connectionString="Data Source=.;Initial Catalog=courses;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAttendanceService" />
        <binding name="WSHttpBinding_ICourseRegistrationService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/HelloService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAttendanceService" contract="TeamServiceReference.IAttendanceService"
        name="WSHttpBinding_IAttendanceService">
        <identity>
          <userPrincipalName value="AVISHEK\AVISHEK" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8090/HelloService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICourseRegistrationService"
        contract="TeamServiceReferenceCourseRegistration.ICourseRegistrationService"
        name="WSHttpBinding_ICourseRegistrationService">
        <identity>
          <userPrincipalName value="AVISHEK\AVISHEK" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>