<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="coursesConnectionString" connectionString="Data Source=.;Initial Catalog=courses;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="coursesConnectionString2" connectionString="Data Source=.;Initial Catalog=courses;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAttendanceService">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICourseRegistrationService">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/HelloService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAttendanceService" contract="TeamServiceReference.IAttendanceService"
        name="WSHttpBinding_IAttendanceService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAl68AG4e3/VBQbpBvDnKOJ5i30C8gAAAAAQAAANUBAAAwggHRMIIBOqADAgECAhBvFxd0ZB+0jUktqrxEam3lMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDAeFw0xNTA0MTQwODE5MjBaFw0yMDA0MTQwMDAwMDBaMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAy/ow6BF5/O4So00F2uK6A36nBS1nCimq6cTDhYO8wFRvawU2nuU+aQystGMbJZjHi9yTGQfR0HW6E5qKSsgkT6Oc66k6nAj2papEvEFa7HP3VDZaRIDSx7g1jcUt7hW/WorO4/sH8QlDM8raeKYANVQ5WUUaJ1ck88SuPZGgxwECAwEAAaMkMCIwCwYDVR0PBAQDAgSwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMA0GCSqGSIb3DQEBBQUAA4GBAMaX+zxgsqszowuC/5Izzb+udwPzJUy0U8/h73iy78txfSk8/VoEq/YCB6sfqHc9H6eCSzzVeFPvDHhdgm46/3VjQlpY3mIlHhtpMdHFB5nTRX77tss2mqe6FfDi8F5f3M5VrY8DwcBrFqV21PnuME02nZwHF2/dU2VJ7x1+FfD5" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8090/HelloService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICourseRegistrationService"
        contract="TeamServiceReferenceCourseRegistration.ICourseRegistrationService"
        name="WSHttpBinding_ICourseRegistrationService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAl68AG4e3/VBQbpBvDnKOJ5i30C8gAAAAAQAAANUBAAAwggHRMIIBOqADAgECAhBvFxd0ZB+0jUktqrxEam3lMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDAeFw0xNTA0MTQwODE5MjBaFw0yMDA0MTQwMDAwMDBaMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAy/ow6BF5/O4So00F2uK6A36nBS1nCimq6cTDhYO8wFRvawU2nuU+aQystGMbJZjHi9yTGQfR0HW6E5qKSsgkT6Oc66k6nAj2papEvEFa7HP3VDZaRIDSx7g1jcUt7hW/WorO4/sH8QlDM8raeKYANVQ5WUUaJ1ck88SuPZGgxwECAwEAAaMkMCIwCwYDVR0PBAQDAgSwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMA0GCSqGSIb3DQEBBQUAA4GBAMaX+zxgsqszowuC/5Izzb+udwPzJUy0U8/h73iy78txfSk8/VoEq/YCB6sfqHc9H6eCSzzVeFPvDHhdgm46/3VjQlpY3mIlHhtpMdHFB5nTRX77tss2mqe6FfDi8F5f3M5VrY8DwcBrFqV21PnuME02nZwHF2/dU2VJ7x1+FfD5" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>